.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

body {
    background-color: rgb(255, 255, 255);
}
p {
    color: rgb(9, 100, 15);
    font-family: Poppins, serif;
    font-size: 100%;
}
h1 {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
}
h2 {
    font-size: 200%;
    text-align: center;
}
